[2022-06-27 18:20] joshspicer opened #55 "rename all options to be `camelCase` and not `snake_case`"
To follow with JSON naming conventions, we should make all the options in the `devcontainer-features.json` camelCase.

Right now, options are converted to environment variables with [this logic in the CLI](https://github.com/devcontainers/cli/blob/main/src/spec-node/containerFeatures.ts#L25-L28).

["v2" features]() require environment variables [of this form](https://github.com/devcontainers/featu

[2022-07-18 13:36] alexdima opened #64 "Avoid dropping existing features"
From a quick scan, looking at [vscode-dev-containers](https://github.com/microsoft/vscode-dev-containers/blob/main/script-library/container-features/src/devcontainer-features.json), the following features look like they might be missing:
* `homebrew`
* `fish`
* `maven`
* `gradle`
* `jupyterlab`

cc @jkeech @edgonmsft @chrmarti

[2022-07-19 06:16] alexdima opened #67 "Consider splitting up the `common` feature"
We could consider deprecating the common feature (similar to some of the ones mentioned in https://github.com/devcontainers/features/issues/64) and creating multiple features out of it.

The current `common` feature contains (text from @Chuxel):

---

### 1. [Common OS Utilities](https://github.com/microsoft/vscode-dev-containers/blob/main/script-library/common-debian.sh#L74-L165), [set a locale i

[2022-08-03 16:04] joshspicer opened #75 "update python to fetch python prebuilt binaries from `actions/python-versions`"
We are planning to collaborate with the actions team and their effort to prebuilt binaries (eg https://github.com/actions/python-versions)

Starting with python, teach our feature to first attempt to pull the appropriate binary from this repo, and if that fails fallback to build from src (same behavior as current).

[2022-08-09 20:36] #64 closed, assigned to samruddhikhandale

[2022-08-11 22:01] Chuxel opened #92 "Extensions and settings for vscode in old locations"
It looks like the extensions and settings for VS Code are at the top level rather than under `customizations.vscode`.

Running...

[code]

...does not show the extensions or settings, which implies they may not be getting picked up.

[2022-08-12 03:10] jkeech commented on #92
@samruddhikhandale, can you move all of the `settings` and `extensions` under `customizations.vscode`? Example: https://github.com/devcontainers/features/blob/main/src/java/devcontainer-feature.json#L31-L33

[2022-08-12 18:52] joshaber opened #94 "`sshd` fails to install intermittently"
From an internal report:

Logs:
[code]

[2022-08-15 16:01] #94 closed

[2022-08-16 16:42] samruddhikhandale commented on #92
`devcontainer read-configuration --include-features-configuration --log-format json --workspace-folder` .
...does not show the extensions or settings, which implies they may not be getting picked up.

Fix for this 🐛  - https://github.com/devcontainers/cli/pull/126

https://github.com/devcontainers/features/pull/97

[2022-08-17 15:53] craiglpeters commented on #67
See a community workaround for the `first-run-notice.txt` using DOCKERFILE https://github.com/DenverCoder1/github-readme-streak-stats/commit/9237db556271d3199972528d77873ac7b93636d5

[2022-08-17 20:08] samruddhikhandale commented on #92
Released features with the changes in https://github.com/devcontainers/features/pull/97 🚀
https://github.com/devcontainers/features/runs/7886497114?check_suite_focus=true

Closing as fixed.

[2022-08-22 13:04] chrmarti opened #110 "Error installing os-provided python"
@samruddhikhandale @joshspicer

`find` passes its results on to `xargs` in a way that breaks when the paths contain spaces:
https://github.com/devcontainers/features/blob/ec1deb82808c14de9ce601838e255357718b49d4/src/python/install.sh#L391

I see this fail using the following with 0.248.0:
[code]

https://unix.stackexchange.com/questions/172481/how-to-quote-arguments-with-xargs suggests using `find

[2022-08-22 13:05] chrmarti commented on #110
Btw., `find` seems to run on `/usr`, so `chmod` will run on all its folders. Is this intended? It goes beyond the feature's own folders.

[2022-08-22 23:37] samruddhikhandale commented on #110
That's not intentional, and is a regression. Fixed it in https://github.com/devcontainers/features/pull/112

[2022-08-23 09:45] chrmarti opened #113 "Tag feature releases?"
@joshspicer @samruddhikhandale Should feature releases be tagged in the Git repo? I don't see how I would currently navigate from an OCI artifact to the commit it was created from. We usually use tags for that. What do you think?

[2022-08-23 13:15] joshspicer commented on #113
We're currently releasing each feature independently by bumping the `version` in the feature's `devcontainer-feature.json`.

We could do something like `v0.0.5-ruby` when creating the release.  Would that make sense?

[2022-08-23 20:18] samruddhikhandale commented on #110
Shipped fix 🚀
https://github.com/devcontainers/features/pkgs/container/features%2Fpython

[2022-08-23 20:18] #110 closed

[2022-08-24 08:21] chrmarti commented on #113
Make it `ruby-v0.0.5` to avoid collision with semver's pre-release/build labels. 👍

[2022-08-24 15:34] Chuxel commented on #75
Just as a FYI - This is some code I wrote to do this install.

https://github.com/Chuxel/devcontainer-features/blob/main/devcontainer-features/features/python/bin/acquire#L16-L37

The thing I didn't do is parse the manifest file they have already to get the available versions.  However, I did do that in the "Devpacks" prototype I wrote in Go.  I generalized the code there so I could reuse it for N

[2022-08-24 15:36] Chuxel commented on #55
This appears to be fixed, Should we close the issue?

[2022-08-26 16:00] joshspicer commented on #113
@samruddhikhandale , this could be introduced in addition to the versioning github action we discussed

[2022-08-31 10:24] mataslib opened #122 "Failed to fetch feature, ETIMEOUT 205.251.194.84:443"
I'm unable to rebuild devcontainer which was working in the past.

![image](https://user-images.githubusercontent.com/5154014/187655548-708b9230-0207-436b-b215-f47137547197.png)

[code]

[2022-08-31 10:34] mataslib commented on #122
Okay, it's some issue with my connection, since it's working when I switch to hotspot.. ¯\_(ツ)_/¯

[2022-08-31 10:34] #122 closed

[2022-08-31 15:00] eitsupi opened #123 "Rename Feature 'docker from docker' to 'docker-outside-of-docker'"
Hello. Thanks for a great series of work (which I use every day!)

This may be a stupid question, but isn't `docker-outside-of-docker` more common name than `docker-from-docker` for using the host machine's docker engine from within a container?
Why call it `docker-from-docker` in this project?

[2022-09-02 05:33] t04glovern opened #130 "[java] SDKMAN errors on build: Version 11 not found"
Hi,

Im trying to use the following .devcontainer configuration and finding that errors are produced when installing with SDKMAN.

Weirdly, the problem does not exist when I'm running the configuration on Mac/Linux, and I only see the problem when running VSCode on Windows and in WSL2

### .devcontainer/devcontainer.json

[code]

### Error produced

[code]

When running the same config with `lates

[2022-09-02 16:43] samruddhikhandale commented on #130
I tried out the specified dev container config on Windows ( Remote - Containers v0.251.0 & VSCode Version: 1.71.0 ) , the container was created successfully without any errors. It was successful with `version:11` and `version:latest`.

From the logs, the command `sdk list java` ([details](https://github.com/devcontainers/features/blob/main/src/java/install.sh#L104)) is returning an empty list. Hen

[2022-09-02 16:59] samruddhikhandale commented on #123
We are glad you are enjoying the open dev container specification 😄

Looping in @Chuxel / @bamurtaugh  who may have more context on the naming history.

[2022-09-02 20:53] samruddhikhandale opened #132 "github-cli : Fails with signature invalid error"
`github-cli` Feature fails to install with the following error.

![image](https://user-images.githubusercontent.com/24955913/188232539-e97a8d34-e06f-471c-8c57-e1bff037139e.png)

This error is due to the GPG key used to sign debian packages is expired. Upstream issue --> https://github.com/cli/cli/issues/6175

Once the upstream GPG key is updated, it also needs to be modfied in this `github-cli` Fe

[2022-09-02 22:25] Chuxel commented on #123
@eitsupi Yeah "Docker out of Docker" or "Docker outside of Docker" is the common name for it, I agree. We could rename it and remap the old name. Short answer for why it has that name is just historical since it got called that before the pattern was in common use. It initially didn't work without exposing a TCP port on Windows since unix sockets aren't used there for a while and it become much mo

[2022-09-03 00:16] samruddhikhandale commented on #132
Fixed with https://github.com/devcontainers/features/pull/133

[2022-09-03 00:49] jkeech commented on #132
Closing as fixed by #133

[2022-09-03 00:49] #132 closed

[2022-09-03 01:02] eitsupi commented on #123
Thank you for your response, it seems to me that renaming this now to `docker-outside-of-docker` would be a good idea, as it is a transitional period in how features are specified.

[2022-09-03 05:37] t04glovern commented on #130
How very odd. I connected to a VPN and it did indeed fix this problem for me on my Windows device - I wonder if I'm blocked my sdkman CDNs. Sorry for not testing more before raising this!

Thanks again

[2022-09-03 05:37] #130 closed

[2022-09-06 23:10] jkeech commented on #123
I'm in favor of renaming it to `docker-outside-of-docker`. We just need to figure out the rename story in general for features. I don't think we'd want to publish it under both names, so then the question is do we just rename it and start publishing under the new name, leaving folks on the old name behind? Or do we so something to remap the old name to the new one like a redirect.

We are currentl

[2022-09-07 13:15] lucasfcnunes opened #143 "add bzip2 to common-utils"
The following command throws bzip2 missing:
[code]

--
There are other files extensions that maybe valuable to add too:
[code]
*xz, gzip, lzma, ... are already present.

`apt install busybox` has most of these formats too.
--
PR to solve it: https://github.com/devcontainers/features/pull/142
*Continuing https://github.com/microsoft/vscode-dev-containers/pull/1586

[2022-09-08 15:51] DogaCUlupinar opened #144 "Missing GPG Key when installing github cli"
**My Issue**
GPG signing issue within my codespace even after setting :
[code]
I my devcontainer.json

in my script called within postCreateCommand it has a sudo apt update where i get the gpg error:
[code]

My dockerfile is based off of:
[code]

**Context**
I have been referred to create an issue in this project from https://github.com/cli/cli/issues/6175 by @joshspicer

**Link To Original Commen

[2022-09-08 16:36] joshspicer commented on #144
The universal image includes the github-cli already, so that feature is actually no-oping.

That said, I can't reproduce an _error_ in the kitchensink, only warnings (which is interesting).

<img width="810" alt="image" src="https://user-images.githubusercontent.com/23246594/189175930-49c7eea7-27bd-46ef-b9c3-960eb32235e7.png">

We cache copies of the image to keep Codespace creations fast, which i

[2022-09-08 20:19] DogaCUlupinar commented on #144
Thanks @joshspicer the manual rebuild of the container worked!

[2022-09-08 20:19] #144 closed

[2022-09-09 15:55] edgonmsft commented on #123
One option would be to dual tag releases. The feature itself, repository and sources get renamed to the new folder. We can add an `alias` array property to `devcontainer-feature.json` so that the cli also dual tags the feature with the old name. It would probably also need to rename the tar file.

[2022-09-09 22:03] jkeech commented on #143
Closing as fixed via https://github.com/devcontainers/features/pull/142

[2022-09-09 22:03] #143 closed

[2022-09-11 02:49] asaikali opened #149 "Provide a feature that can install azure cli extensions"
I would like to be able to instal the azure cli and some extra extensions for example `az extension add --name spring` it would be nice to enhance the existing cli feature to set a list of extensions to install, or maybe add an azure cli extension feature that takes an array of extension names and installs them.

The [blog post](https://dev.to/azure/extending-vscode-dev-container-features-4n71) sh

[2022-09-11 05:34] asaikali opened #150 "Java feature sets GRADLE_USER_HOME incorrently"
When I install java via the feature it sets the `GRADLE_USER_HOME` env var to `./.gradle` instead of `${HOME}/.gradle` as the code in
https://github.com/devcontainers/features/blob/b7b5d8b1c02f6a8755c880d6f615115760462c8b/src/java/devcontainer-feature.json#L44 tries to do.

When the devcontainer starts and `./gradlew` is invoked the following exception is produced
[code]

This is because the vscod

[2022-09-12 18:57] jkeech commented on #149
@asaikali thanks for the recommendation! Would you or @pauldotyu (the author of the linked blog post) be willing to submit a PR to add an `extensions` option to the `azure-cli` feature in this repo?

Note that we are tracking an improvement in https://github.com/devcontainers/spec/issues/91 which will make it easier for features to see which user is the `remoteUser`, so that you can easily run the

[2022-09-12 22:22] DogaCUlupinar commented on #144
@joshspicer I actually get the original error every time i create fresh codespace. I then have to rebuild the codespace for the issue to resolve. This happens with and without the features set so please let me know if i should file this ticket elsewhere, thanks!

[2022-09-13 00:13] jkeech commented on #150
@samruddhikhandale can you take a look?

[2022-09-13 12:34] tepene opened #151 "Error: Failed to process feature ghcr.io/devcontainers/features/docker-from-docker:1"
I can't install the docker-from-docker feature. I tried the configuration snippet provided in the [README](https://github.com/devcontainers/features/tree/main/src/docker-from-docker#example-usage).

[code]

When building the the devcontainer i get the error **Error: Failed to process feature ghcr.io/devcontainers/features/docker-from-docker:1**

[code]
Building the devcontainer without the feature

[2022-09-13 17:08] samruddhikhandale commented on #150
PR for the bug fix - https://github.com/devcontainers/features/pull/152

[2022-09-13 17:19] samruddhikhandale commented on #151
Hi @tepene, I just tried out the dev container config, and it worked for me without any errors.

Looking at the logs, I can see the `ECONNRESET ` error, could it be possible that there was a network connection failure or a VPN / firewall trying to interfere?

[2022-09-13 18:43] tepene commented on #151
@samruddhikhandale, thanks for the tip. I just verified that it is working on my private workstation. Looks indeed like a proxy issue. I misinterpreted the error message.

[2022-09-13 18:43] #151 closed

[2022-09-14 16:49] joshspicer opened #155 "Standardize `containerEnv` and edits to the $PATH variable"
As seen in a recent PR (https://github.com/devcontainers/features/pull/153), the current pattern for editing important variables like `$PATH` are highly dependent on the technique the author chose to employ (editing `*rc` files, `containerEnv` properties), as well as the _order_ in which both features and the declared variables are listed.

For consistency I believe we need to find a pattern (or p

[2022-09-14 22:58] davidwallacejackson opened #159 "Go feature does not add `$GOPATH/bin` to the `PATH`"
Repro: https://github.com/davidwallacejackson/go-path-repro

I think this issue happens because `$GOROOT/bin` has already been added to `PATH` somehow before [these injected rc lines](https://github.com/devcontainers/features/blob/main/src/go/install.sh#L236) are run. Because the default `GOROOT` is /usr/local/go`, the path to its `bin` directory is `/usr/local/go/bin`, which contains `/go/bin` --

[2022-09-16 19:03] guiyomh opened #163 "docker daemon does not seem to be started"
Hello. Thanks for your work (I use your features every day!).

But since today I have a problem with the `docker-in-docker` feature.
Strangely, the docker service does not seem to run.

I rebuilt my dev env. And when I do:  `devcontainer features test --features vim --base-image mcr.microsoft.com/devcontainers/base:ubuntu .`

<details>
<summary>I have this output </summary>
<br>

[code]
</details>

[2022-09-16 21:38] samruddhikhandale commented on #159
Fixed the issue with https://github.com/devcontainers/features/pull/162

@davidwallacejackson if you could rebuild the container (without cache), you could see the `PATH` issue resolved.
I tested with https://github.com/davidwallacejackson/go-path-repro and the fix worked fine.

<img width="956" alt="image" src="https://user-images.githubusercontent.com/24955913/190791300-985bf915-ae45-4a37-a74f-4

[2022-09-16 21:38] #159 closed

[2022-09-16 22:09] jkeech commented on #123
We decided to move forward with the `alias` idea so that we can safely rename a feature, and if the `devcontainer-feature.json` has an `alias` property, we will continue to publish it under the aliased name. So the source code and everything can move to the new name, but we will publish both old and new names for backwards compatibility.

When we next bump up the major version, we will likely remo

[2022-09-16 22:42] samruddhikhandale commented on #163
Glad to know that you are using Features and it's cool to see that you've self published some Features as well. ✨ 👏

I tried to reproduce the issue with latest [Remote Containers ](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) and I was able to execute the test without any issues. Also, the individual `docker-in-docker` Feature works fine for me.

<img wid

[2022-09-17 08:09] ilaner opened #167 "Add option to install poetry in python feature"
[Poetry](https://python-poetry.org/) is a great dependency management tool for python, and it will be great if we could install it as a feature.

[2022-09-17 11:20] blueelvis opened #168 "[REQ] Add Azure Function Core Tools"
Could you please add the ability to add Azure Function Core Tools to the Remote container so that the `func` command line could be used?

[2022-09-17 16:55] cailloumajor opened #169 "C Sharp extension required by common utils"
Hello,

I wonder why C# extension requirement exists in common utilities feature?

https://github.com/devcontainers/features/blob/0258e7e66a2df165ad98f6e4c6f93b1a34cbb8f5/src/common-utils/devcontainer-feature.json#L58-L64

[2022-09-17 22:20] tobiasdiez opened #170 "[Java] Allow installing the java sdk from different distros"
Because of
https://github.com/devcontainers/features/blob/0258e7e66a2df165ad98f6e4c6f93b1a34cbb8f5/src/java/install.sh#L80-L86
it is currently not possible to install the sdk from a different distro than `ms`. Thus, currently it is not possible to use java 18.

[2022-09-19 07:39] guiyomh commented on #163
@samruddhikhandale

Of course, here the log:

[code]

My machine (Mac OS):

VS Code - v1.70.2
Remote Containers - v0.245.2
Docker - 20.10.14

[2022-09-19 20:06] samruddhikhandale commented on #169
@joshspicer any particular reason behind adding this extension to `common-utils` Feature during migration?

[2022-09-19 20:09] samruddhikhandale commented on #168
Unless I am misunderstanding, are you asking to add this ability to the VS Code Remote - Containers? If that's the case, then could you create an issue in the [microsoft/vscode-remote-containers](https://github.com/microsoft/vscode-remote-containers) repo instead?

[2022-09-19 20:11] davidwallacejackson opened #171 "`docker-from-docker`: processes inside the container can't access ports forwarded from the docker bridge network"
When running `docker-from-docker`, if a container maps a port to the bridge network, I'd expect to be able to open another terminal and hit that port. Instead, the port is exposed outside of the dev container, but remains inaccessible _inside_ of it, which breaks development setups that mix dockerized and non-dockerized services. Here's a [minimal reproduction](https://github.com/davidwallacejacks

[2022-09-19 20:17] samruddhikhandale commented on #167
That sounds like a great suggestion, feel free to open a PR with an update to the [python](https://github.com/devcontainers/features/tree/main/src/python) Feature.

We appreciate community engagements and contributions for improving the [current set of maintained features](https://github.com/devcontainers/features/blob/main/src).

[2022-09-19 21:39] samruddhikhandale commented on #170
PR - https://github.com/devcontainers/features/pull/172

[2022-09-19 21:58] jkeech commented on #169
@cailloumajor thanks for reporting! This looks like an oversight/mistake to me. It should not be included.

[2022-09-19 22:25] samruddhikhandale commented on #169
This PR https://github.com/devcontainers/features/pull/173 cleans it up.

[2022-09-19 22:57] samruddhikhandale commented on #169
Closing as removed the unwanted extension with https://github.com/devcontainers/features/pull/173

[2022-09-19 22:57] #169 closed

[2022-09-20 01:50] davidwallacejackson commented on #171
I've been digging into this some more, and it seems like this might be an expected property of docker-from-docker that requires additional tooling to resolve. My first thought was that there might be a way to do this with `iptables`, but I'm not super savvy with it, and the articles I found on the subject suggested that doing so would require changing some `systemctl` settings that can't actually

[2022-09-21 10:16] rjfmachado opened #175 "how to best add bicep, flux and kubelogin to devcontainer?"
Hi, looking for some pointers on how to best approach this. At this point, my postCreateCommand looks like this for devcontainer with azure-cli and kubectl-helm-minikube features.

"postCreateCommand": "az bicep install && az extension add --name ssh && az extension add --name aks-preview && wget https://github.com/Azure/kubelogin/releases/download/v0.0.20/kubelogin-linux-amd64.zip && unzip kubelo

[2022-09-21 20:21] dmgardiner25 opened #176 "Jupyter getting installed with python 3.9 instead of 3.10"
When trying to go through the [codespaces-getting-started-ml](https://github.com/github/codespaces-getting-started-ml) sample repo in JupyterLab, we are failing to import some packages. This is due to us installing `jupyterlab` with python 3.9 instead of 3.10. The same does not happen in VS Code.

Repro:
1. Create a codespace using the repo mentioned above
2. Connect to JupyterLab using `gh cs jup

[2022-09-22 19:44] nmemoto opened #177 "No xdg-open command, so host Browser cannot be started"
When starting a browser by executing cli on a terminal in devcontainer (VSCode Remote - Container), if the browser startup depends on xdg-open, it will fail because the xdg-open command does not exist.

For example, the following is obtained by executing cdktf init.

[code]

CLI tools that use the environment variable BROWSER, such as github-cli, are not affected, but there must be many CLI tools

[2022-09-22 19:53] nmemoto commented on #177
#178 is my suggestion. Could you please confirm it?

[2022-09-22 23:50] samruddhikhandale commented on #175
Trying to see analyze how the `postCreateCommand` can be simplified.

Being able to add commands to every Feature is an interesting suggestion. // cc - @bamurtaugh / @Chuxel
Probably something like this?

[code]

Unfortunately, we currently don't support that but I agree, it would be a great improvement. However, in the [devcontainers/images](https://github.com/devcontainers/images) repo, we have

[2022-09-23 17:28] bamurtaugh commented on #175
Thanks for opening this issue and using Features, @rjfmachado!

It is an interesting idea to add a `postCreateCommand` property when referencing a Feature - @samruddhikhandale the way you show seems like it could be reasonable. Although, it feels like these kinds of commands could be added to the install.sh script of the Feature itself?

[2022-09-23 18:16] samruddhikhandale commented on #175
Looking at the [list of Azure CLI commands](https://learn.microsoft.com/en-us/cli/azure/service-page/list%20a%20-%20z?view=azure-cli-latest), there are plenty commands which could be added to `install.sh`. I don't think we should be adding all of them to the `install` file because the Feature would become bulky and not sure if every user would want it. If we have some `postCreateCommand` or simila

[2022-09-23 22:16] samruddhikhandale commented on #170
Closing as fixed with https://github.com/devcontainers/features/pull/172

[2022-09-23 22:16] #170 closed

[2022-09-23 23:07] Chuxel commented on #175
I think we need to be careful here since the intent of these features is to install things - you wouldn't want to accidently fire az commands that provision infrastucture since this would fire during the Dockerfile build.

- There's a feature request for postCreateCommand support in features, so that part we've got a proposal for. We should not call it that here.
- The bicep command itself is too

[2022-09-26 02:43] secret104278 opened #183 "local git config is not copied into devcontainer"
If i manually install `git` in `Dockerfile` then the Remote-Container plugin can automatically copy my local `.gitconfig` into the devcontainer.
However, when i switch to use `git` features, then my `.gitconfig` is not copied.

[2022-09-26 02:58] #183 closed

[2022-09-26 03:21] secret104278 opened #184 "When git-lfs features is used, local .gitconfig wont be copied in to devcontainer"
By default, user local `.gitconfig` should be copied into devcontainer, it works when using `git` feature only.
However, when `git-lfs` is used, then it wont be copied.
I guess it probably because we run `git-lfs install` in install process, so `.gitconfig` is not empty so vscode server stop copying local `.gitconfig` to prevent from overriding.

[2022-09-26 19:32] bamurtaugh commented on #175
@Chuxel I'll follow up again on the Azure side as its been some time since the initial discussions.

[2022-09-26 23:53] samruddhikhandale commented on #177
Hi @nmemoto,
I would like to understand the scenario for myself, could you provide me details on your dev container config?
what base image and Features does it has? or is it using some Remote Containers' definition ?

[2022-09-27 06:59] li-sumup opened #186 "Error: connect ETIMEDOUT"
I am using default Debian with terraform and git enabled:
[code]

[code]

And I am getting error:

[code]

I was able to run similar configuration before, but now building fails.

I am running VSCode from WSL2
<img width="285" alt="image" src="https://user-images.githubusercontent.com/98388748/192455384-b9f44554-cabf-48e1-92ef-70d0fde7ec18.png">

[2022-09-27 09:28] jasper2virtual commented on #186
I have a similar issue too, my office behind proxy, suddenly today it always timeout on fetching feature.....

[2022-09-27 16:09] nmemoto commented on #177
@samruddhikhandale Thanks for checking my pull request.

The source code I used is below.
https://github.com/nmemoto/try-cdktf

The settings for devcontainer are below.
devcontainer.json
[code]

Dockerfile
[code]

[2022-09-28 00:09] samruddhikhandale commented on #163
Closing this issue due to inactivity. Feel free to re-open if the issue resurfaces.

[2022-09-28 00:09] #163 closed

[2022-09-28 07:28] guiyomh commented on #163
oh thx @samruddhikhandale, I haven't seen your response. I haven't solved the pb yet, but  I think it's related to my host environment.

[2022-09-28 18:08] samruddhikhandale commented on #177
Thanks for the details. I agree that your proposal in https://github.com/devcontainers/features/pull/178 makes sense for your dev container configuration and will help solve the issue.

I am thinking from another perspective where the config doesn't use an image which depends on the `common-utils` Feature. In that case, I believe it would make more sense if we add `xdg-utils` to the [terraform](ht

[2022-09-29 08:58] etienne-chrp opened #188 "JAVA_HOME is set even when the feature is set to none"
When trying to setup a new container for Java/Gradle you get the following error: `ERROR: JAVA_HOME is set to an invalid directory: /usr/local/sdkman/candidates/java/current`

Steps to reproduce:
1. Open empty directory in vscode
2. Reopen in container
3. Chose Java definition
   - Version 11
   - NodeJS => none
   - Install Gradle
4. Run gradle in shell

The problem seems to be the JAVA_HOME that

[2022-09-29 14:51] nmemoto commented on #177
@samruddhikhandale Your suggestion seemed like a solution for my current situation.

My concern was that many CLI tools provided by major cloud services, not just terraform, open the browser for its authentication. Many such CLI tools probably assume xdg-open. (For example, the standard Go package uses xdg-open at https://github.com/pkg/browser/blob/master/browser_linux.go#L9.)

From that point of

[2022-09-29 15:57] samruddhikhandale commented on #177
You have highlighted a very good point, I missed how widely used it could be.

I am not sure if I have understood your point completely, but if we add `xdg-utils` to `common-utils` then it will get added to all the images published by https://github.com/devcontainers/images. So that seems like a good solution to me.

In that case, they could use the `common-utils` Feature as well. Even with the pr

[2022-09-29 16:47] nmemoto commented on #177
@samruddhikhandale Would you approve changes to the pull request for https://github.com/devcontainers/features/pull/178 ?

If so, I will let this pull request be re-opened.

I would also like to apply this pull request at this time, assuming that the xdg-utils installation process is moved to the appropriate feature at the time common-utils is disassembled in the future.
(Due to the following conc

[2022-09-29 20:13] snebjorn opened #189 "[Feature] Headless browser (chrome/chromium/firefox)"
I'd love if I could add a headless browser to my dev container using the dev container features.

[code]

All (that I know) JS/TS testing frameworks need it. Manually adding it without having to resort to `--no-sandbox` is very complicated. I have yet to succeed at it 😞
`--no-sandbox` is considered insecure and **strongly discouraged**.

[2022-09-29 21:43] joshspicer commented on #189
I agree, this sounds like an awesome Feature to add!

Not exactly the same as what you're looking for, but want to point you to the existing `desktop-lite` Feature, that spins up a basic desktop environment that one can connect to via VNC. (https://github.com/devcontainers/features/tree/main/src/desktop-lite)

I'm not sure if this is something that would interest you in implementing, but we have s

[2022-09-30 09:06] eitsupi commented on #177
How are those tools installed?
Wouldn't it make more sense to install them in a devcontainer feature?

[2022-09-30 15:14] nmemoto commented on #177
@eitsupi Thanks for caring about this issue.

That may be so.

On the other hand, I believe there are lightweight CLI tools that are not so lightweight as to create devcontainer features.
For example, [nmemoto/gh-trending](https://github.com/nmemoto/gh-trending), which I created, is a good example. This is a tool that checks GitHub Trending with TUI and moves to the web page of the selected reposi

[2022-10-01 07:45] nmemoto commented on #177
Also, the assumption that even major cloud service CLI tools will be created with devcontainer features seems a bit too idealistic.

[2022-10-01 17:21] tobiasdiez commented on #170
Thanks a lot! The new distro option works well.

Note, however, that the default java 18 is not working with `mcr.microsoft.com/vscode/devcontainers/base:bullseye`:
[code]
I think the only distro providing Java 18 on Linux 64-bit is Semeru (sem).

[2022-10-02 05:30] justinyoo opened #190 "`NVM_VERSION` hard-coded to `0.38.0` on the node feature"
Hi, Team.

When I look at the `install.sh` file, the `NVM_VERSION` value is hard-coded to `0.38.0`

https://github.com/devcontainers/features/blob/82960fd16b04fb4003a8765b2381bd23553737b5/src/node/install.sh#L21

Do we have a reason to pin that specific version instead of getting the latest one (`0.39.1` as of today)?

If there's no harm, can I send a PR to get the latest version of the NVM?

[2022-10-02 07:06] johnnyreilly commented on #190
This feels like a good idea (I have no authority on this BTW 😅)

[2022-10-02 11:28] eitsupi opened #191 "Remove apt lists (`/var/lib/apt/lists/*`) the end of each scripts?"
Previously, a mechanism was implemented in each script to reduce the number of `apt-get update`, so that only one `apt-get update` was needed to install multiple features.
However, that mechanism has now been removed, so it may make more sense to remove the cache by `rm -rf /var/lib/apt/lists/*` at the end of each script to reduce the layer size.
(especially if you pre-build and register the image

[2022-10-02 20:25] johnnyreilly opened #192 "features that depend upon features (dapr)"
Heya!

I'm a keen user of dapr.  I generally do this in the context of a devcontainer.  I'm interested in how to migrate to doing the same using features.  If I read things right, I need to use the `docker-in-docker` feature.  On top of that I think I'd need to have some kind of `dapr` feature which would contain something like this:

[code]

I'm guessing that there's some way to have "dependencie

[2022-10-03 00:02] joshspicer commented on #192
Hey! With the current [Features spec](https://containers.dev/implementors/features/) as it stands today, the default behavior is that the implementing tool decides the installation order.  Our current goal with Features is that installation of one is atomic and idempotent (although we recognize that might not always be possible).

Currently we have two mechanisms to override the default installati

[2022-10-03 00:03] joshspicer commented on #191
Yes, I agree! That is something that was lost when moving over from the vscode-dev-containers repo.

[2022-10-03 00:05] joshspicer commented on #190
Agreed, thanks for pointing that out.  I suspect this was originally pinned for a reason, but I don't recall why (and likely it's fine to pick up the latest).  Feel free to send the PR :)

[2022-10-03 00:32] davidwallacejackson opened #193 "`docker-from-docker`: allow installation alongside `docker-in-docker`, as non-default docker configuration"
#171 prevents me from using `docker-from-docker` as the primary docker configuration for my devcontainer (since I need to share docker ports with internal processes). I realized, however, that there was nothing preventing me from mounting _both_ sockets and switching off between them. This allowed me to get what I really wanted out of `docker-from-docker`, which was the ability to update the devco

[2022-10-03 01:54] johnbullnz commented on #184
I'm having the same problem. `.gitconfig` seems to get copied across in the *start* phase, whereas I think the git-lfs feature is run in the *create* phase. A workaround is to just install git-lfs in the *postStartCommand* using a custom script, i.e. after `.gitconfig` is copied across to the container. Adding some control to `devcontainer.json` around exactly when `.gitconfig` gets copied would b

[2022-10-03 04:18] johnnyreilly commented on #192
Interesting. So for my own use case, I'd be looking to use docker-in-docker and building upon it with dapr. So I'd use `"installsAfter"` quite comfortably. But it's possible people might not be using docker-in-docker, in which case would this create a problem?

My guess is not , assuming `installsAfter` doesn't create a hard dependency on the mentioned features being installed. That assumption may

[2022-10-03 04:36] johnnyreilly commented on #184
I don't know if this is definitely related, but I'm getting some odd file system permission issues with features. I'm finding that I often have to do some `chmod` shenanigans before I can `git commit` successfully

[2022-10-05 17:47] kf6kjg commented on #188
Arguing with this issue too. Since I'm starting my Dockerfile with

[code]

I don't see a need to install another version of Java with this feature, I just want Gradle.

I added the following to the end of my Dockerfile as a workaround:

[code]

[2022-10-05 19:01] joshspicer opened #195 "update Features with appropriate `installsAfter` properties"
Update features to include an [installsAfter](https://containers.dev/implementors/features/#installsAfter) property where applicable.  Notably, to install after `common-utils`

[2022-10-05 19:03] joshspicer commented on #195
should wait for https://github.com/devcontainers/cli/issues/163 to be resolved.

[2022-10-05 19:11] johnnyreilly commented on #195
Is this related to https://github.com/devcontainers/features/issues/192

[2022-10-05 22:32] snebjorn commented on #189
@joshspicer thanks for the links. I gave it a shot. But it seems there's an issue with running the tests. Not sure what is going on.

https://github.com/snebjorn/devcontainer-feature/actions/runs/3193079539/jobs/5211272135

When running locally I get this error:
[code]

Also where is the docs for `dev-container-features-test-lib`?

[2022-10-05 23:10] joshspicer opened #197 "Polish the descriptions"
We're working on a user experience to surface Features and present the `description` attribute in each Feature's `devcontainer-feature.json`

In order to make the UX look more clean, it's worth taking some time to polish up the descriptions, (make them as succinct and useful as possible).

[2022-10-05 23:48] jkeech commented on #189
I'm not sure about the local test execution, but the one in the action shows the following error: https://github.com/snebjorn/devcontainer-feature/actions/runs/3193079539/jobs/5211272135#step:4:151

`./install.sh: 15: Bad substitution`

That maps to this line in the install script: https://github.com/snebjorn/devcontainer-feature/blob/main/src/chromium/install.sh#L15, so I think the `$PATH` substi

[2022-10-06 07:43] snebjorn commented on #189
I copied the script from here https://github.com/devcontainers/features/blob/main/src/dotnet/install.sh#L33-L64
Does it not work or do I need to something to make it work?

[2022-10-06 13:44] michaeltlombardi opened #198 "Hugo: Add option for extended release"
In addition to version, operating system, and architecture the hugo release packages are distinguished by whether or not they're "extended," which enables post-processing behavior and using SASS/SCSS. Numerous hugo themes rely on this functionality and are currently unusable with the feature, which is only capable of installing non-extended hugo.

The current definition for options is:

https://gi

[2022-10-06 18:00] joshspicer commented on #55
@samruddhikhandale I think you resolved all these - but please reopen if that's not the case.

[2022-10-06 18:00] #55 closed

[2022-10-06 22:07] erdaltsksn opened #206 "Go: Testing tab is empty"
Go extension cannot discover the tests in a `devcontainer`.

<img width="813" src="https://user-images.githubusercontent.com/22197800/194427238-ba38ecd8-410c-4452-8eb4-d1d7844fb3ac.png">

I have tried it with different go versions and various projects.

[2022-10-06 22:26] joshspicer commented on #193
What is preventing you using `docker-in-docker` as your primary means of using docker with dev containers? Do you have containers running on your local machine that you want to use inside the dev container? Could you do all of your work inside of the dev container (docker-in-docker style), or with docker-compose orchestrated by the dev container CLI, where everything would be on the same docker ne

[2022-10-07 22:05] snebjorn opened #207 "`seccomp=profile.json` path isn't relative"
How is a path to a seccomp profile file specificed?

The doesn't work when **seccomp.json** is in same folder as **devcontainer-feature.json**
[code]

seccomp accepts a path https://docs.docker.com/engine/security/seccomp/

[code]

[2022-10-07 22:19] eitsupi commented on #207
Perhaps you have the wrong repository to create the issue?
That sounds like an https://github.com/devcontainers/cli problem.

[2022-10-08 11:29] aborealis opened #208 "devcontainer.json stop functioning properly after last VSCode update"
Some directives from devcontainer.json ceased to execute. They worked fine before the last VSCode update.

1. Extensions are not installed (though they are listed)
[code]
2. Shutdown actions and post create commands are also ignored:
[code]

VSCode Vesrion - 1.72.0
OS where the issue happens
- Kali Linux
- MacOs
(Both OS are updated)

[2022-10-08 11:44] eitsupi commented on #208
Perhaps you are submitting to the wrong repository.

I recommend checking this repository.
https://github.com/microsoft/vscode-remote-release

[2022-10-08 11:58] aborealis commented on #208
Ok, I will duplicate it there. Thanks for poining.

[2022-10-08 11:59] #208 closed

[2022-10-08 13:05] snebjorn commented on #207
you're probably right. Reposting there :)

[2022-10-08 13:05] #207 closed

[2022-10-09 04:21] davecardwell opened #209 "Features implementation breaks buildkit Dockerfile by stripping `# syntax=docker/dockerfile:1` line"
I have a `.devcontainer/Dockerfile` using buildkit with the starting line, [# syntax=docker/dockerfile:1](https://docs.docker.com/engine/reference/builder/#syntax). It has been working for the past several versions of vscode. Since updating to v1.72.0 my devcontainer fails to run.

When starting my devcontainer, vscode runs:
`docker-compose --project-namemyproject -f /path/to/compose.yaml -f /User

[2022-10-09 04:31] davecardwell commented on #209
Closing in favor of microsoft/vscode-remote-release#6848

[2022-10-09 04:31] #209 closed

[2022-10-10 15:04] craiglpeters opened #212 "Go doesn't update version if go is already installed"
The go feature ignores the current version, and the version option specified, when go is already installed.

## Steps to reproduce
Create a .devcontainer as below
[code]

Start a codespace using the universal container image which already has go installed

At the terminal note that the version of go does NOT match the option specified in the go feature
[code]

Check the creation logs and note it s

[2022-10-10 22:33] #191 closed

[2022-10-11 02:12] joshspicer commented on #195
Yea in a way @johnnyreilly - This issue really represents adding `installsAfter: common-utils` to mot of the Features in this repo, since common-utils is really designed to be installed earlier on in the build. (I quite liked this comment describing why we are trying to avoid Features having a strict dependency - https://github.com/devcontainers/spec/issues/109#issuecomment-1273868565)

The concep

[2022-10-11 08:09] rjfmachado commented on #175
Thank you for the discussion, I agree not to overload the azure cli feature set. I'd also prefer to see a bicep or overall Azure feature, that simply downloads and installs the bicep binary, replacing the az bicep install command.

[2022-10-11 23:08] davidwallacejackson commented on #193
@joshspicer I am currently using `docker-in-docker` as my primary means of running Docker, yeah -- and it works great for almost everything. The reason I want `docker-from-docker` as well is that I want users to be able to pull the newest build of the devcontainer from the registry from inside the devcontainer while it's running, then do "Rebuild From Container" and have it Just Work™. Of course,

[2022-10-11 23:13] davidwallacejackson opened #215 "On Ubuntu ARM64, azure-cli feature crashes if installed after docker-in-docker"
This only started happening in the last few days -- I'm not sure why it happens or why it only affects ARM and only in this specific circumstance.

Repro is here: https://github.com/davidwallacejackson/az-cli-devcontainer-repro/tree/master/.devcontainer

[2022-10-12 17:46] craiglpeters opened #217 "New Feature for Kind installation"
The Kubernetes community guides contributorts to use [kind](https://kind.sigs.k8s.io/) (Kubernetes-in-Docker). A feature to easily install kind via a dev container will enable easy setup of Kubernetes contributor environments.

[2022-10-12 20:33] craiglpeters commented on #217
Superseded by https://github.com/kubernetes-sigs/kind/issues/2967

[2022-10-12 20:33] #217 closed

[2022-10-13 03:14] zephyros-dev opened #219 "`docker-in-docker` fail to start with amd64 image on macOS M1"
# Description
- dockerd installed using `docker-in-docker` features fails to run on macOS M1 machine with `amd64` image
- The features works normally using `arm64` image
# Steps to reproduce
1. Build .devcontainer from the following file:
`devcontainer.json`
[code]
`Dockerfile`
[code]
# Issues
- dockerd is unable to start. Here's the logs if I run `sudo dockerd`:
[code]
# Information
- macOS versi

[2022-10-13 03:27] zephyros-dev commented on #219
Updates: It seems that the workspace bind mounts settings breaks the `docker-in-docker` run script for some reason.
[code]
I used it for bind mounting the host path to the container, so that I could run docker-compose with bind mount inside the workspace folder using `docker-from-docker` features. It seems that this settings breaks the `docker-in-docker` setup for some reason. But since `docker-in

[2022-10-13 20:10] AlexanderLanin opened #220 "extend python feature with "system, but at least 3.x""
# Background
Currently we can specify a very specific version or the `system` version.
Since the feature is supposed to run on a bunch of different base images, specifying `system` is not helpful except in tightly controlled environments.
Specifying a specific version like `3.8` could be overkill, in case the system already provides e.g. `3.8.1` precompiled.

# Feature Request
It would be nice to

[2022-10-14 07:21] etienne-chrp commented on #188
I see that a similar issue has been raised in the `images` repository: https://github.com/devcontainers/images/issues/158

Which one should stay open?

[2022-10-14 09:53] johnnyreilly opened #221 "Failed to download package for ghcr.io/devcontainers/features/azure-cli"
I might be being terribly unlucky, but I keep getting timeouts when I try to download the azure-cli feature.  Is this an issue with GitHub packages or is this a general problem?

[code]

My `devcontainer.json` looks like this:

[code]

[2022-10-14 11:47] sas05 commented on #221
i have tried git and aws-cli, also same error.

[2022-10-16 10:19] eitsupi opened #222 "Python feature (os-provided) installation failed if python already installed"
When I tried to install Python on the rust image, the build failed with an error because it could not create a symbolic link.

[code]

My devcontainer.json is this.

[code]

[2022-10-16 13:52] joshspicer commented on #222
This is similar to https://github.com/devcontainers/features/issues/212.  Maybe of our Features likely need to be tweaked to better handle >1 installation.

[2022-10-16 13:56] joshspicer commented on #221
Are you all continuing to see this?  It seems like a transient Packages issue to me (and I haven't noticed it myself/am not able to reproduce a couple days later).

Please give me a tag if you continue to see this and i'll dig in further

[2022-10-16 15:00] johnnyreilly commented on #221
Thanks - will check again some time this week and report if issues

[2022-10-17 10:04] sas05 commented on #221
after some query, I have found this ticket. I think it is related to this problem. https://github.com/microsoft/vscode-remote-release/issues/7150

[2022-10-18 15:35] natescherer opened #226 "Adding jupyterlab to python:3.10-bullseye image"
Hello! Not really sure if this is an issue for here for `devcontainers/images`, but I'm having some trouble figuring out how to add jupyterlab to the `mcr.microsoft.com/devcontainers/python:3.10-bullseye` image using the new features. This worked fine before when jupyterlab was its own feature, but now that it's been moved into the overall python feature I haven't been able to get it to work. I tr

[2022-10-18 23:30] #195 closed

[2022-10-19 09:11] rjfmachado commented on #175
Hi @samruddhikhandale @bamurtaugh @naioja and I went ahead and forked the repo, copied the feature kubectl-helm-minikube into a new feature called [cloud-native](https://github.com/rjfmachado/features/tree/main/src/cloud-native) and added support for kubelogin, flux v2 and Azure AD workload Identity cli.
As we've extended the features inside kubectl-helm-minikube, we felt that it be better named "

[2022-10-20 16:54] bamurtaugh commented on #175
Hi @rjfmachado, thanks so much for working on this!

You're certainly welcome to self-host this `cloud-native` Feature.

As some general guidance, we generally encourage folks to think in separate components, i.e. making individual tools their own Features. But you can certainly create larger or more comprehensive Features if that's what works well for your scenario.

If you'd like your Features t

[2022-10-25 20:59] cmbrose opened #236 "Universal image using incompatible `gradle` version in v2.0.18"
Between releases `v2.0.20` ([version notes](https://github.com/devcontainers/images/blob/main/src/universal/history/2.0.20.md)) and `v2.0.19` ([version notes](https://github.com/devcontainers/images/blob/main/src/universal/history/2.0.19.md)) the `gradle` version dropped to `6.9.3` from `7.5.1`. This makes the universal image unable to run gradle against Java 17 applications as gradle `>= 7.3` is

[2022-10-26 00:34] cmbrose commented on #236
For more details on the investigation, see https://github.com/orgs/community/discussions/37051

[2022-10-26 04:34] zephyros-dev commented on #219
After I upgrade macOS to Ventura 13.0 and Docker Desktop to 4.13.0, the issue is now gone. Closing the issue

[2022-10-26 21:19] bamurtaugh commented on #198
Thanks @michaeltlombardi, this sounds reasonable to me. Would you be able to open a PR in this repo with the change?

cc @samruddhikhandale for awareness.

[2022-10-26 21:21] bamurtaugh commented on #206
Thanks for reporting @erdaltsksn! It sounds like this may be an issue with the Go extension itself, rather than the Go Feature? If so, could you please open an issue in https://github.com/golang/vscode-go? Thank you!

[2022-10-26 21:29] bamurtaugh commented on #215
Thanks for reporting. I just tried the repro linked, but the dev container built successfully for me. Are you still able to repro this?

[2022-10-26 21:33] bamurtaugh commented on #215
Thanks for reporting. It seems there may have been some transient package issues. Are you still experiencing this?

Another thought is this could be tied to https://github.com/microsoft/vscode-remote-release/issues/7150.

[2022-10-26 21:37] bamurtaugh commented on #219
Thanks for reporting. There seem to have been some transient package issues around this time. Are you still experiencing this issue?

@Chuxel @chrmarti I see containerd in the logs above. Would https://github.com/microsoft/vscode-remote-release/issues/6014 pose issues with using containerd?

[2022-10-26 21:55] bamurtaugh commented on #226
@samruddhikhandale any thoughts / recs here?

[2022-10-26 22:49] michaeltlombardi commented on #198
@bamurtaugh done! PR up as #240. It doesn't include test updates because I haven't figured out how those work yet (and my shell scripting is... somewhat more skilled than a toddler grabbing the keyboard from a stranger's desk).

I updated the docs in the PR even though I understand those will be overwritten (with the same values, I _think_ by the docs automation, but it seemed sensible that it sho

[2022-10-26 23:19] Chuxel commented on #219
No this is a problem with mixing architectures - x86 and arm64.

Cross-architecture emulation has a number of limitations. I am guessing that prevents access to the needed underlying devices for it to work.  This may not be possible at all.

Here's how docker talks about emulation:

[2022-10-27 02:58] zephyros-dev commented on #219
According to this issue https://github.com/docker/for-mac/issues/6284#issuecomment-1111262937, it seems like dind will only works on arm64 image since the the M1 amd64 emulator does not support ip routing. While this issue is not related to devcontainer, I think adding a note to the README would be useful for future user. What do you think?

[2022-10-27 07:14] erdaltsksn commented on #206
I work flawlessly in the local environment. It happens only when I'm inside the `devcontainer`.

[2022-10-27 11:21] rjfmachado commented on #175
Thank you @bamurtaugh, those last steps did help connect the dots as to how this works e2e.

We do think the cloud-native feature has a "better together" story to it, things like kubelogin will be almost mandatory for AKS users with newer versions of Kubernetes and will most times have to be installed with kubectl. The other tools are more niche, we may consider and host separate features for them

[2022-10-27 13:52] Chuxel commented on #219
Yep, that seems reasonable. Adding a NOTES.md to the feature will cause it to appear in the README.

[2022-10-27 16:51] bamurtaugh commented on #206
Does debugging work alright?

Could you also please provide some more info on your environment - are you on Windows, macOS, or Linux?

[2022-10-27 17:00] erdaltsksn commented on #206
Debugging works fine.

[code]

[code]

[code]

[2022-10-27 17:05] bamurtaugh commented on #206
Thanks for the info. If this only happens with the Go extension, it sounds like it'd make sense to open an issue in https://github.com/golang/vscode-go, with the info you've provided here. I don't immediately see an issue related to this topic in that repo, but perhaps other folks are aware or could find a fix.

[2022-10-28 17:16] Chuxel commented on #190
There are a few other bugs I ran into so I bumped the nvm version (since 0.38.0 has issues), and added the ability to pick a nvm version into PR #241

[2022-10-28 17:17] samruddhikhandale commented on #198
Thanks @michaeltlombardi for the contribution. I have left some comments on the PR.

For tests, I have pointed to a reference tests folder which should help you write a simple test. Let me know if you have any questions, happy to walk you through it.

[2022-10-28 18:12] samruddhikhandale commented on #236
We released a new version for the `universal` image yesterday which contains `Gradle - 7.5.1`.
https://github.com/devcontainers/images/blob/main/src/universal/history/2.0.21.md

Looks like the issue is now resolved, I'll investigate why the regression happened. As the `java` feature always installs `latest` of gradle, unless it was an issue with java sdk, nothing else jumps out to me.

[2022-10-28 18:13] samruddhikhandale commented on #236
Closing as fixed in the `universal:latest` image.

[2022-10-28 18:13] #236 closed

[2022-10-28 19:07] samruddhikhandale commented on #226
Created a PR which fixes this bug - https://github.com/devcontainers/features/pull/244

[2022-10-28 19:30] samruddhikhandale commented on #188
Duplicate: https://github.com/devcontainers/images/issues/158

Added thoughts - https://github.com/devcontainers/images/issues/158#issuecomment-1284652886

[2022-10-28 19:30] #188 closed

[2022-10-28 23:55] Chuxel opened #248 "Take advantage of new ${devcontainerId} property in docker-in-docker script"
The latest CLI is needed, so as the current iteration testing push rounds out, we can add this to the docker-in-docker script.

HOWEVER, this would be a breaking change for existing volumes, so I'd suggest we do a major version bump for the docker-in-docker script when this gets released.

[2022-11-01 04:32] schrum2 commented on #236
@cmbrose A brand new codespace with the new image is able to complete a gradle build, but the default command line Java is apparently not the same version that gradle is building with, as demonstrated by this test run:
[code]

[2022-11-02 14:26] albertusdev opened #255 "Is audio playback on desktop-lite possible?"
Hey team! Great work on the desktop-lite on codespaces!

Although I have a question, is there any way to enable audio playback on desktop-lite?

For context, I develop a Chrome extension which core functionality revolves around playing audio, so audio support inside VNC would be greatly appreciated.

[2022-11-02 18:56] mrhappyma opened #256 "pnpm"
I think [pnpm](https://pnpm.io) would be a good addition :)

[2022-11-02 20:50] cmbrose commented on #236
@schrum2 thanks for raising this again - I think that this is captured in https://github.com/devcontainers/images/issues/187 due to the 2 java paths. If so, @samruddhikhandale is working on that as well.

[2022-11-03 02:14] weikanglim opened #258 "Invalid python interpreter path: `/usr/local/bin/python`"
When using `ghcr.io/devcontainers/features/python:1`, the devcontainer opens up with an invalid python interpreter path `/usr/local/bin/python`.

When attempting to debug you get this error:
![image](https://user-images.githubusercontent.com/2322434/199635606-7f94d65e-6bfe-4d9b-baba-4b4fd203e364.png)

After clicking "Select Python interpreter", it shows the invalid path and a detected path:
![imag

[2022-11-03 02:49] jkeech commented on #258
@joshspicer it looks like this is coming from https://github.com/devcontainers/features/blob/main/src/python/devcontainer-feature.json#L62-L73. The issue is that based on the options the user specifies (such as [`"version": "os-provided"`](https://github.com/weikanglim/devcontainer-python/blob/main/.devcontainer/devcontainer.json#L6) or tweaking `installPath`), the Python install path can be diffe

[2022-11-03 17:02] mislav opened #259 "[github-cli] Race condition when checking for latest version"
By default, `ghcr.io/devcontainers/features/github-cli` is configured to fetch and install the latest GitHub CLI version available.

However, it determines the latest release not by checking GitHub Releases in the `cli/cli` repository, but by scanning git tags in the same repository:
https://github.com/devcontainers/features/blob/73a9c7d38293067a4081b8d79dd12e92a585ef83/src/github-cli/install.sh#L

[2022-11-03 17:53] weikanglim commented on #258
@jkeech FWIW the docs seem to suggest that `"version": "os-provided"` is the default setting when unspecified. I tried removing ["version": "os-provided"](https://github.com/weikanglim/devcontainer-python/blob/main/.devcontainer/devcontainer.json#L6) explicitly, and saw the same behavior.

[2022-11-03 19:48] jkeech commented on #259
Thanks for reporting. I think one issue is that switching to the Releases API could very quickly run into auth issues and rate limiting when un-authed. Using the git tags helps avoid rate limiting on the APIs since this is a public feature that can be used in Dev Containers without being signed in to GitHub locally.

Even if we can't use the Releases API directly due to auth/rate limiting issues,

[2022-11-04 11:18] etienne-chrp opened #260 "[JAVA] Install a specific version of Gradle or Maven"
In the previous Java image, it was possible ton install a specific version of Gradle or Maven: https://github.com/microsoft/vscode-dev-containers/tree/main/containers/java#installing-maven-or-gradle

As the new docker image is based on the Java feature to [install ](https://github.com/devcontainers/images/tree/main/src/java#installing-maven-or-gradle) them, it would be nice for continuity to provi

[2022-11-04 15:05] Chuxel commented on #258
When `os-provided` specified the feature could create a symlink from `/usr/local/bin/python` to `/` to resolve this.

[2022-11-04 15:17] Chuxel commented on #258
In fact - the current path is just plain wrong in many cases.  The default path is `/usr/local/python`. The path is then updated to soemthing else that looks like got broken somewhere along the way.  This is a bug.

[2022-11-04 18:45] samruddhikhandale commented on #260
Hi 👋

@etienne-chrp It is a wonderful suggestion and makes sense. Would you be interested in contributing and opening up a PR for the [Java Feature](https://github.com/devcontainers/features/tree/main/src/java) with the change?

// cc @joshspicer

[2022-11-04 18:52] samruddhikhandale commented on #256
Hi 👋

Thanks for the suggestion. Unfortunately, this repository will accept improvement and bug fix contributions related to the
[current set of maintained Features](https://github.com/devcontainers/features/tree/main/src).

We would appreciate are willing to create a new Feature in a repository you control and share it with the community. We have a starter repo [devcontainers/feature-starter](htt

[2022-11-04 18:55] samruddhikhandale commented on #255
Hi 👋

Thanks for the suggestion. @Chuxel do you have any insights on this?

[2022-11-04 18:58] samruddhikhandale commented on #221
Feel free to re-open the issue if the problem resurfaces.

[2022-11-04 18:58] #221 closed

[2022-11-04 18:59] samruddhikhandale commented on #190
Closing as fixed with https://github.com/devcontainers/features/pull/241

[2022-11-04 18:59] #190 closed

[2022-11-04 19:02] samruddhikhandale commented on #186
Looks like the issue is related with https://github.com/microsoft/vscode-remote-release/issues/7150

Feel free to re-open the issue if the problem resurfaces, thanks!

[2022-11-04 19:02] #186 closed

[2022-11-04 19:04] samruddhikhandale commented on #189
Hi @snebjorn, were you able to fix the test? Happy to take a look.

[2022-11-04 21:27] Chuxel commented on #258
Self-assigning... I see what is wrong and know how to fix it.  I also see a test bug I'll fix at the same time.

[2022-11-05 04:51] Chuxel commented on #259
Ideally the CLI repo would have a file in main with the list of current releases that we could parse for this.

But, yeah the release API is not an option due to rate limits but we can do a fallback. This is how the nix feature handles this.

https://github.com/devcontainers/features/blob/73a9c7d38293067a4081b8d79dd12e92a585ef83/src/nix/install.sh#L52-L62

Go does the same thing.

There's a utilit

[2022-11-05 19:25] mrhappyma commented on #256
Alright, Thanks for letting me know!

[2022-11-05 19:25] #256 closed

[2022-11-05 22:52] shyim opened #262 "[PHP] Reuse build files from setup-php action"
Currently, the PHP feature builds PHP from source code which can take a while and does not contain any PHP extension.

Maybe it makes sense here to reuse the build binaries from the popular setup-php action:

https://github.com/shivammathur/php-builder/releases

So instead of building it from source, we download the tar and unpack it

[2022-11-06 06:53] NicoVIII commented on #256
I wrote my first, simple feature, which simply installs pnpm via npm.
Alternatively you can install it via `postCreateCommand` Option, but if you prefer to have it as a feature, you could try this one out :)
https://github.com/NicoVIII/devcontainer-features/tree/main/src/pnpm

[2022-11-06 23:17] snebjorn commented on #189
Hi @samruddhikhandale I don't recall what was the error when running the test on github.
But running it locally still doesn't work.

[code]

[2022-11-07 17:50] samruddhikhandale commented on #256
@NicoVIII This is awesome 👏

If you'd like to share this Feature with the community, we'd appreciate adding this to the [public index](https://containers.dev/features). Refer to instructions [here](https://github.com/devcontainers/feature-starter#adding-features-to-the-index)

[2022-11-07 18:46] #258 closed

[2022-11-07 19:52] Chuxel commented on #258
This should be fixed in the latest released feature (1.0.11)

[2022-11-09 22:25] ross-p-smith opened #265 "Enhancement: az cli should mount the hosts .azure folder into the devcontainer"
When installing the az cli feature, it would be excellent if it also mounted the host .azure folder into the devcontainer so that your azure session was persisted.

[code]

[2022-11-10 02:33] jungaretti opened #266 "CUDA feature example shows wrong version option"
[The CUDA feature's description reads `"version": "latest"` instead of `"cudaVersion": "11.7"`](https://github.com/devcontainers/features/tree/main/src/nvidia-cuda) (the latest supported version). This description is misleading and confusing. Here are some ideas for cleaning up the feature:

- [x] https://github.com/devcontainers/features/pull/267
- [x] Fix the usage example OR handle a `latest` v

[2022-11-10 19:59] weikanglim opened #270 "error: `No module named 'runpy'`"
It looks like certain python libraries are no longer being picked up correctly after the change in #258.

I get the following error running `az login`:

[code]

I confirm that reverting to `ghcr.io/devcontainers/features/python:1.0.10` fixes the issue.

Additional debugging commands:

[code]

Originally from [1121](https://github.com/Azure/azure-dev/issues/1121)

[2022-11-10 20:02] weikanglim commented on #270
FYI @Chuxel running into a separate issue now on 1.0.11

[2022-11-10 21:50] Chuxel commented on #270
#272 should fix this once merged.  Use 1.0.10 for now, 1.0.12 will be the fixed version.

[2022-11-11 00:38] cnuss opened #273 "install/start a daemon in a feature"
greetings!

I was wondering if it'd be possible to set up a daemon within a feature install?

as a basic example, I could install Cron within a feature, but something would need to call `service cron start` once the devcontainer is launched, and currently the only ways I can think of:

 - expect the user to have to add a postStartCommand along with the feature -- this seems fragile as the user wou

[2022-11-11 00:48] jkeech commented on #273
One way to do this is to have the feature provide an `entrypoint` in `devcontainer-feature.json` (reference: https://containers.dev/implementors/features/#devcontainer-feature-json-properties). The entrypoint script runs on container startup and could start your daemon/service there.

[2022-11-11 00:50] cnuss commented on #273
I will take a look at that thank you!

[2022-11-11 00:52] jkeech commented on #273
The entrypoint is indeed what the `sshd` feature uses 😄. Here's the link for that so you can see how it's implemented: https://github.com/devcontainers/features/blob/3020d6da64798ee994d407ffd3ce3f800f6dff92/src/sshd/devcontainer-feature.json#L17

[2022-11-11 01:03] #270 closed

[2022-11-11 11:40] NickHu opened #274 "Nix feature should provide a way to access `flake#devShell`"
It is common for repositories which provide flakes to provide development shells under a top-level attribute `flake#devShells`, with `flake#devShell` being the default one (an alias for `flake#devShells."<system>".default`). These are accessed with the command `nix develop flake#myShell`; an excerpt from https://nixos.wiki/wiki/Flakes:

[code]

However, you can't pass something like `"flakeUri": "

[2022-11-11 11:41] NickHu commented on #274
cc @Chuxel

[2022-11-11 11:59] NickHu opened #275 "Nix feature doesn't work on GitHub Codespaces"
Cross-post of existing issue report for visibility: https://github.com/NixOS/nix/issues/6680#issuecomment-1311559039

[2022-11-11 14:57] Chuxel commented on #275
There seems to be some sort of interaction with the `universal` image here that needs to be investigated.  The Dev Container Feature does work with other images (as you can see in the test battery).  Will investigate further.

[2022-11-12 16:25] st-little opened #278 "How to add gcloud components"
I installed gcloud by adding "ghcr.io/dhoeric/features/google-cloud-cli:1" to features.

[code]

Is there any way to add more [components](https://cloud.google.com/sdk/docs/components#additional_components)?

[2022-11-12 16:38] Chuxel commented on #278
Hey @st-little - This is not something maintained here.  Please raise the question with the feature author at https://github.com/dhoeric/features. Thanks for the interest tho!!

[2022-11-12 16:38] #278 closed

[2022-11-12 21:29] erdaltsksn opened #283 "`devcontainer.json file's customizations of the project override feature's customizations"
When there are the same vscode settings in both feature's and the project's devcontainer.json file, the project's customizations override the feature's. Is it possible to merge it instead of an override?

- devcontainer.json file at the **features**:

[code]

- devcontainer.json file at the **project**:

[code]

**Expected Result:**

[code]

**Current Result:**

[code]

[2022-11-14 16:36] dsyer opened #284 "Nix feature doesn't cache /nix"
Environment setup after container restarts can take a really long time if all of nixos.org has to be downloaded every time. I guess you might want the option to clear the cache or switch it off, but IMO it would be better if /nix was a volume mount by default.

[2022-11-14 17:07] Chuxel commented on #283
Transferring to CLI repo

[2022-11-14 17:08] Chuxel opened #285 "docker-in-docker fails locally on linux (works in codespaces)"
Migrated from https://github.com/microsoft/vscode-dev-containers/issues/1687

From @dsyer

----

I have a fairly vanilla Ubuntu host which runs docker happily. When I start a devcontainer locally with docker-in-docker it fails. JSON:

[code]

Error:

[code]

The same JSON works in codespaces:

[code]

[2022-11-14 17:20] dsyer commented on #284
I'm not sure I understand the difference. What I do often is SHIFT-CTRL-P "Remote Containers: Rebuild container". Or shutdown a workspace and then open it up again the next day.

[2022-11-14 18:10] Chuxel commented on #285
How was Docker installed?  Is this Docker Desktop for Linux, an [official docker install](https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository) via their apt repo?  Something else?

Re: rootless, this is what I am referring to https://docs.docker.com/engine/security/rootless

[2022-11-14 19:25] dsyer commented on #285
I remember rootless now. I did try it out once and it couldn’t support some of the things I do so I ditched it. I’m on a pretty vanilla Ubuntu (20.04) with docker installed from the Ubuntu package manager. It usually works, and I have definitely used docker in devcontainers before this. So something may have changed, or this new “feature” isn’t the same way I installed it before.

[2022-11-14 19:46] Chuxel commented on #285
🤔 The same script was used as a base. Hmmm. You can try using `ghcr.io/devcontainers/features/docker-in-docker:1.0.4` which is before some recent updates to support different DNS options in the event that caused a problem.

[2022-11-14 20:22] #149 closed

[2022-11-14 20:30] joshspicer commented on #265
This sounds like a great use-case for the current spec proposal here https://github.com/devcontainers/spec/issues/132

I imagine that some people may not want this behavior, nor do we want container creations to fail if there isn't such a directory. That said, super useful if you already have config locally 👍

[2022-11-14 20:31] joshspicer commented on #265
Actually looking closer, it's the same example that @stuartleeks has :)

[2022-11-14 20:32] joshspicer commented on #273
I agree with @jkeech that is the recommended way to do what you're asking.  Please feel free to re-open if this isn't helpful for your use case, or if you have any questions :)

[2022-11-14 20:32] #273 closed

[2022-11-14 21:57] #266 closed

[2022-11-15 07:43] stuartleeks commented on #265
@ross-p-smith I know it's not _quite_ what you asked for, but I've created the `azure-cli-persistence` feature ([here](https://github.com/stuartleeks/dev-container-features/blob/main/src/azure-cli-persistence/README.md)) which auto-attaches a volume and symlinks the `~/.azure` folder in the container to it. Whilst this isn't sharing the host's `.azure` folder, it does mean that the logins are pres

[2022-11-15 13:30] warrenbuckley opened #291 "Request: Add SQLite to available features"
Can we please have a new feature added in the list of possible options to have SQLite installed.

The popular VSCode SQLite extension does not work and requires SQLite to be installed, it would be nicer and neater to install this via the features section in the devcontainer.json file, than having to manually install it.

## VSCode SQLite Extension
https://marketplace.visualstudio.com/items?itemNam

[2022-11-15 21:02] warrenbuckley commented on #291
I had a message from @jkeech on the community DevContainer Slack

So with that in mind, I think I will try to create my first feature and see how the Developer Experience is like 😄

[2022-11-15 21:28] samruddhikhandale commented on #226
Closing as fixed with https://github.com/devcontainers/features/pull/244

@natescherer Feel free to re-open the issue if there's any problem.

[2022-11-15 21:28] #226 closed

[2022-11-15 21:50] salvador-barboza opened #293 "dotnet CLI feature is installed with wrong permissions"
Hello devcontainers team,

I was using the dotnet CLI feature, and when running `dotnet restore` on my Codespace, it throws the following error:
[code]

Repro steps:
1) Create a Codespace with the dotnet cli feature (https://github.com/codespaces/new/?repo=salvador-barboza/blankie&ref=dotnet-restore-issue)
2) Run dotnet restore in the terminal

[2022-11-15 22:31] ross-p-smith commented on #265
I'll give it a whirl - this might actually be better than what I was looking for anyway! Thanks Stuart

[2022-11-15 22:31] #265 closed

[2022-11-16 16:29] cnuss commented on #273
Closing the loop! This worked like a charm!

For anyone that stumbles along this thread, here's what I did to get `cron` working in a container:

`cron-init.sh` (in feature folder next to `install.sh`, bits were borrowed from `/usr/local/share/ssh-init.sh`):
[code]

`install.sh`:
[code]

`devcontainer-feature.json`:
[code]

[2022-11-16 17:07] cnuss opened #295 "Affect / add to motd (Message of the Day) at Codespace start"
I'd like to add/append my own Message-of-the-Day (motd) at terminal start in Codespaces using Features, but it doesn't look like `/etc/motd` is displayed.

Is there a file I can modify or drop in to augment it?

<img width="960" alt="Screen Shot 2022-11-16 at 9 07 16 AM" src="https://user-images.githubusercontent.com/819991/202246630-0c50ceed-c559-444d-9802-4bf9752cf8ff.png">

[2022-11-17 00:42] joshspicer commented on #295
Here is the source code for the default Codespaces image, if you'd like to see how it is set up there. https://github.com/devcontainers/images/blob/main/src/universal/.devcontainer/first-run-notice.txt

[2022-11-17 00:46] #260 closed

[2022-11-17 00:52] joshspicer commented on #295
I think a Feature that extracted this functionality would be valuable to other folks as well.

I encourage you to check out https://github.com/devcontainers/feature-starter if you are interested in trying to author the Feature yourself and contribute it back to https://containers.dev/features

[2022-11-17 19:32] alcarney opened #299 "Nix feature fails to install"
**Note:** I'm using the VSCode Dev Containers extension on Linux with Podman and the following `devcontainer.json` file

[code]
Everything looks like it's working as expected until nix tries to bootstrap itself and fails with the error `error: cannot set host name: Operation not permitted`.

I've included some of the log output below for context, but I can't see any more information that's useful

[2022-11-18 06:38] Androoideka opened #300 "Passing environment variables in features"
Hi, I was trying to set up a feature that would configure the container's environment variables and mounts to allow applications in the container to use WSLg. I've set this up fine in a devcontainer.json by using ${localEnv:?}, but it seems features can only use environment variables from the container.

Would it be possible to pass host environment variables to a container through a feature? Than

[2022-11-19 01:07] eitsupi commented on #67
Hello. I think this apt Feature is in demand as it is very versatile, do you have any plans to add it? (I'm thinking it would be useful to have it regardless of the division of the common feature)
Of course I could implement this in my own repository, but since it is generic I think it would be good to have it here.

[2022-11-21 14:47] rjfmachado commented on #175
hi @bamurtaugh, we've created https://github.com/devcontainers/devcontainers.github.io/pull/81 and have the source feature here https://github.com/rjfmachado/devcontainer-features.
1st time, appreciate if you can spare some time to see if we've missed something.

Thanks,
Ricardo and Adrian

[2022-11-21 23:25] samruddhikhandale commented on #300
We have `remoteEnv` & `containerEnv`, but I don't think those would be helpful to pass host environment variables to a container through a feature.

@chrmartic/ @joshspicer / @edgonmsft  Am I missing something, or do we have a way to make this work? 🤔

[2022-11-21 23:38] samruddhikhandale commented on #299
I could successfully create a dev container with the provided config ☝️. However, I don't have podman installed which could be the difference here. Looks like it is not supported yet unless there is some local configuration causing the nix installation to fail. 🤔

[2022-11-23 13:54] davepvelasco opened #304 "git: Partial version matching in install.sh is unreliable and fails builds after some time"
~This happened to a project I was working on. The devcontainer we were using started failing to build when we on-boarded a new developer. After some investigation, I found the issue to be with the installation script.~

~If the OS is not Ubuntu, the script tries to find a partially matching version tag at https://api.github.com/repos/git/git/tags. However, the response is limited to the latest 30

[2022-11-23 14:56] #304 closed

[2022-11-23 17:35] samruddhikhandale commented on #212
Closing as fixed with https://github.com/devcontainers/features/pull/303

Feel free to re-open, if any issue resurfaces.

[2022-11-23 21:13] benjaminwood opened #307 "Node feature permissions incorrect with custom non-root user"
When the container is running with a non-root user, does not have a UID of `1000`, and is not named `vscode`, `node`, or `codespace`, the install script fails to set correct permissions on the node installation.

For example, say you're using Docker for mac and the container is running a user called `app` with a UID of `501`. The node installation will proceed as root, which results in a dev conta

[2022-11-23 21:18] jkeech commented on #307
Thanks for reporting! I think we just need to update the install script to leverage the new `_REMOTE_USER` and `_CONTAINER_USER` variables which get passed in automatically. Reference: https://github.com/devcontainers/spec/blob/main/proposals/features-user-env-variables.md

cc @samruddhikhandale

[2022-11-25 01:03] gund opened #311 "Add zsh plugins to common-utils feature"
Hi, I'm exploring dev containers and so far loving them!

I'm using `common-utils` feature as part of my dev container setup and wondering what is the proper way of adding a few ZSH plugins to it?

I've checked [the docs](https://github.com/devcontainers/features/tree/main/src/common-utils) of `common-utils` feature but it does not have an option to specify list of plugins.

Any ideas?

[2022-11-27 19:58] dremsol commented on #184
Experiencing the same issue.

[2022-11-28 09:22] rjfmachado commented on #175
hi @bamurtaugh , we've managed to get this to work after a few "puzzling moments" with some of the recent changes. We had to disable the options as we havent managed to trigger the options choices to show in vscode ui. So we'll have to look into this.

Another thing, that I'm not sure where to best report:
If going through the vscode > Dev Containers: Add dev container configuration files UI, it w

[2022-11-28 14:16] cbandera opened #312 "Error during default install of python feature."
I have a plain default Dockerfile which was setup from scratch with the default VSCode settings. (I'll post the contents below)
During the `Reopen in Container` setup I get the following error:
[code]

I believe the error comes from [this line](https://github.com/devcontainers/features/blob/main/src/python/install.sh#L457), in case `pipx` has not been found and defaults to the empty string set in

[2022-11-28 17:37] Chuxel commented on #255
Right now, the feature is using TigerVNC which does not support audio extensions yet AFAIK https://github.com/TigerVNC/tigervnc/issues/1211

There's no offical standard on VNC audio, but supposedly Real VNC Server/Client support it - https://www.realvnc.com/en/connect/audio but I have not tried to set this up and it is under a proprietary license I believe.  XRDP may also support audio but that wo

[2022-11-28 17:37] samruddhikhandale commented on #175
This is an interesting bug, I'll create an issue and look at resolving this.

[2022-11-28 17:53] samruddhikhandale commented on #175
@rjfmachado Thanks for reporting, created an issue for tracking 👉  - https://github.com/microsoft/vscode-remote-release/issues/7584

[2022-11-28 18:31] bamurtaugh commented on #175
Thanks for opening the PR and providing feedback @rjfmachado - exciting to see your work added to the index!

Thanks for opening the issue @samruddhikhandale. If you have other issues or questions @rjfmachado, please let us know.

[2022-11-28 19:05] #312 closed

[2022-11-28 21:31] samruddhikhandale commented on #184
Hi 👋

The cause of this bug is not due to the Features, because remote containers help with the gitconfig.
I have reported this bug in https://github.com/microsoft/vscode-remote-release/issues/7589

Feel free to comment on that issue with comments/thoughts.

[2022-11-28 21:31] #184 closed

[2022-11-28 23:10] samruddhikhandale commented on #307
Closing as fixed with https://github.com/devcontainers/features/pull/264

@benjaminwood feel free to re-open if you find any other issues! 😄

[2022-11-28 23:10] #307 closed

[2022-11-28 23:17] bamurtaugh commented on #262
Thanks for opening @shyim! If you have a proposed change in mind, please feel free to open a PR in this repo, and you can link this issue.

[2022-11-28 23:23] bamurtaugh commented on #311
Hi @gund, thanks for opening, and we're so happy to hear you're loving dev containers!

There's currently discussion over potentially splitting up the common feature: https://github.com/devcontainers/features/issues/67. So at this time, there aren't plans to add more to it.

You could certainly add zsh to your dev container through a separate Feature or install step. Depending on your setup, if yo

[2022-11-29 00:40] gund commented on #311
Hey @bamurtaugh thanks for letting me know about the plans for the common feature.

Actually I already created a [custom feature](https://github.com/gund/ng-dynamic-component/blob/master/.devcontainer/zsh-plugins/devcontainer-feature.json) that allows to [configure (oh-my-)zsh plugins](https://github.com/gund/ng-dynamic-component/blob/d25fc9b780fcecd11180d28bec709825a4db6e71/.devcontainer/devconta

[2022-11-29 08:22] shyim commented on #262
Hey @bamurtaugh ,

I build it meanwhile by my own. Are there interest to get it to here?

https://github.com/shyim/devcontainers-features/tree/main/src/php

[2022-11-29 10:28] rjfmachado commented on #175
Thanks for all the support @samruddhikhandale @bamurtaugh, this was fun and tons of learning. We'll look into feature options now and the intent to allow users to pin a specific version of the installed tool.
Q: will vscode bring the options choices for selection in the UI or do we need to specify in the .json file?

[2022-11-29 10:31] edouard-lopez commented on #285
I have the same issue after forking the https://github.com/devcontainers/feature-starter/tree/c23b8feef8bcb54a8d783043b9269d34f5172b1e.

## Context

### OS
[code]

### Docker
[code]

### VSCode

[code]

[2022-11-29 11:34] dsyer commented on #285
I changed the host and container to Ubuntu jammy (22.04) and it seems to work that way (when the timeout in https://github.com/devcontainers/cli/issues/281 doesn't happen, which makes it hard to test).

[2022-11-29 14:04] edouard-lopez commented on #285
Thanks, @dsyer, for the update.
For me, it happens on my desktop machine, downgrading the OS is not really an option.

[2022-11-29 17:26] samruddhikhandale commented on #175
We still need to discuss if we should prompt for options for every Feature which user has selected. If we do then we will take advantage of `options` property in `[devcontainer-feature.json](https://containers.dev/implementors/features/#devcontainer-feature-json-properties)`. That's how we are currently prompting options for [Templates](https://github.com/devcontainers/templates).

[2022-11-29 18:59] samruddhikhandale commented on #285
Chatted with @edouard-lopez, the issue he is facing looks like a remote containers one to me. Created an issue with details - https://github.com/microsoft/vscode-remote-release/issues/7605

[2022-11-29 23:39] bamurtaugh commented on #262
Thanks for sharing! Please feel free to open a PR to add custom Features you create to our index: https://github.com/devcontainers/devcontainers.github.io/blob/gh-pages/_data/collection-index.yml. This list backs the Features we list on our spec site https://containers.dev/features.

cc @samruddhikhandale @joshspicer if you have any thoughts on modifying the existing php Feature vs adding this as

[2022-11-30 00:03] Chuxel commented on #299
We've seen variations in behaviors from Podman particularly on privs since it sets different defaults. Podman is not directly supported by the Dev Containers extension but [can work in many circumstances](https://code.visualstudio.com/remote/advancedcontainers/docker-options#_podman).  Most likely `docker` is mapped to `podman` on your system which is why it was picked up. (That said, community co

[2022-11-30 00:23] Chuxel commented on #285
Yeah, as discussed, this could be due to two dev containers attempting to use Docker-in-Docker due to https://github.com/devcontainers/features/issues/248 not being done yet.

If you want to see if this resolves the issue in the mean time, I patched and published an update elsewhere with the fix.

[code]

[2022-11-30 00:29] samruddhikhandale commented on #262
Using a PHP binary instead of building from source has many advantages, we should definitely do that at some point. For Python, we already have a similar issue open - https://github.com/devcontainers/features/issues/75

However, we'll need to either setup our own repo which builds binaries or find a secure/trusted one. The one mentioned in the [OP](https://github.com/shivammathur/php-builder) look

[2022-11-30 00:43] shyim commented on #262
It would make more sense to support him https://github.com/shivammathur/setup-php. His action is like the standard way to Set up PHP in GitHub Actions. 72k repos depend on that 😅

[2022-11-30 01:13] vinicius507 opened #316 "Python feature does not make python available in devcontainer base images"
Using python feature with devcontainer `base-ubuntu` image does not provide Python for Dockerfile build steps.

### Expected behaviour
Executing `RUN` clauses with python executable should run fine.

### What's happening
Executing `RUN` clauses with python executable throw an error.

### Context

- Docker version:  `Docker version 20.10.21, build baeda1f82a`
- Devcontainer Extension version: `v0.2

[2022-11-30 01:29] vinicius507 commented on #316
It seems I was misunderstanding when features `install.sh` script are run.

Now that I've read the logs carefully, I've noticed that features setup are executed post `Dockerfile` build.

Closing.

[2022-11-30 01:29] #316 closed

[2022-11-30 08:04] dsyer commented on #285
That works, thanks. So it was nothing to do with the jammy upgrade probably (jammy still broken for me with the official docker-in-docker feature).

[2022-11-30 15:42] fred-asimov commented on #248
This is great news! Already up and running with it...

[2022-11-30 16:15] samruddhikhandale commented on #248
Closing as fixed with https://github.com/devcontainers/features/pull/314

[2022-11-30 16:15] #248 closed

[2022-11-30 17:51] samruddhikhandale commented on #285
https://github.com/devcontainers/features/issues/248 is closed as fixed with https://github.com/devcontainers/features/pull/314

Update is released to the `docker-in-docker` Feature which fixes failures on a local machine. 🚀

Feel free to re-open if the bug resurfaces, thanks! 😄

[2022-11-30 17:51] #285 closed

[2022-11-30 21:44] samruddhikhandale commented on #259
Closing as completed with https://github.com/devcontainers/features/pull/310 🚀

[2022-11-30 21:44] #259 closed